body {
	font-family: "arial";
	color: grey;
}



.feedback  {
	margin-top: 14px;
	line-height: 12px;
	padding: 2px 5px 0 5px;
}

.feedback span {
	vertical-align: middle;
}







*{ *border: 1px solid red; }




.section {
	margin: 20px;
	border: 1px solid gray;
	border-radius: 20px;
	padding: 30px;
}

.site-wrapper {
	width: 80%;
	margin: 0 auto;
}


.output, input, label{
	margin-top: 10px;
}


/* CSS GRID */

.headline {
	grid-area: headline;
}

.a1 {
	grid-area: a1;
}

.a2 {
	grid-area: a2;
}

.a3 {
  display:none;
	grid-area: a3;
}

.site-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
	" . headline  .  . "
	" .   a1     a1  . "
	" .   a2     a2  . "
	" .   a3     a3  . "
}


/* Aufgabe 1 */

	/* Grid im Grid -> Form1 */

	/*labels*/

  	.anagramm-label {
  		grid-area: anagramm-label;
  	}

  	/*inputs*/
      .anagramm-input {
      	grid-area: anagramm-input;
      }

  /*button*/
      .speichern {
      	grid-area: speichern;
      }


  	.formgrid {
  		display: grid;
  		grid-template-columns: 25% 75%;
  		grid-template-rows: 1fr 1fr ;
  		grid-template-areas:
  			"anagramm-label    anagramm-input    "
  			"   .              speichern         "
  		;
  	}



    /*Grid -> Feedback*/

        /*feedback*/
      .anagramm-feedback {
        grid-area: anagramm-feedback;
      }

      .anagramm-feedback-headline {
        grid-area: anagramm-feedback-headline;
      }

    .anagramm-feedback-grid {
      display:grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 25% 75%;
      grid-template-areas: 
        " .  anagramm-feedback-headline"
        " .  anagramm-feedback"
      ;
    }




		/*Formgrid*/


/* Aufgabe 1 */

	/*TODO: Password feedback fehlt*/


  /*user*/
  .user-label {
  	grid-area: user-label;
  }

  .user-input {
  	grid-area: user-input;
  }

  .user-feedback{
  	grid-area: user-feedback;
  }

/* A2 */

  /*password*/
  .passwort-label {
  	grid-area: passwort-label;
  }

  .passwort-input {
  	grid-area: passwort-input;
  }

  .passwort-feedback {
  	grid-area: passwort-feedback;
  }

  /*button*/
  .login {
  	grid-area: login;
  }


 

  .passgrid {
  	display: grid;
  	grid-template-rows: 1fr 1fr 1fr;
  	grid-template-columns: 25% 50% 25%;
  	grid-template-areas: 
  		" user-label       user-input        . "
  		" passwort-label   passwort-input    passwort-feedback "
  		"      .             login           .  "
  	;
  }
    /*password/

      /*button*/


.green {
  color: green;
}

.yellow {
  color: orange;
}

.red {
  color: red;
}


